@font-face {
  font-family: 'clearface';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U + 000-5ff; /* Download only latin glyphs */
  src: url('/fonts/clearface/clearface-bold.woff2') format('woff2'),
    url('/fonts/clearface/clearface-bold.woff') format('woff');
}

@font-face {
  font-family: 'gcentra';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U + 000-5ff; /* Download only latin glyphs */
  src: url('/fonts/gcentra/gcentra-book.woff2') format('woff2'),
    url('/fonts/gcentra/gcentra-book.woff') format('woff');
}

@font-face {
  font-family: 'gcentra';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U + 000-5ff; /* Download only latin glyphs */
  src: url('/fonts/gcentra/gcentra-medium.woff2') format('woff2'),
    url('/fonts/gcentra/gcentra-medium.woff') format('woff');
}

$error: #ab2b10;
$success: #2b6c26;
$white: #ffffff;

$black-set: (
  1000: #222525,
  900: #525257,
  800: #6c6c72,
  700: #919197,
  600: #bababc,
  500: #dcdcdc,
  400: #eaeaea,
  300: #f4f4f3,
  200: #fbfafa,
);

$parsnip-set: (
  200: #f8f5f2,
  100: #fbfafa,
);

$ginger-set: (
  200: #fff2df,
);

$kale-set: (
  600: #087575,
  500: #0a8080,
  400: #2babad,
  100: #f3fafb,
);

$guava-set: (
  600: #ef523c,
  500: #f45d48,
  200: #feefe8,
);

@function black($base: 500) {
  @return map-get($black-set, $base);
}

@function kale($base: 500) {
  @return map-get($kale-set, $base);
}

@function guava($base: 500) {
  @return map-get($guava-set, $base);
}

@function parsnip($base: 200) {
  @return map-get($parsnip-set, $base);
}

@function ginger($base: 200) {
  @return map-get($ginger-set, $base);
}

img[alt='logo'] {
  height: 50px;
  width: auto;
  margin: 30px auto;
}

img.basics {
  height: 300px;
  width: auto;
  margin: 10px auto;
  display: block;
}

a {
  color: kale(500) !important;
  font-weight: 500;

  &:hover {
    color: kale(400) !important;
  }
}

div.api-info {
  a {
    border-width: 1px;
    border-style: solid;
    border-color: kale(500);
  }
}

body {
  margin: 0;
  padding: 0;
  color: #222525 !important;
}

p, span, div {
  font-family: 'gcentra' !important;
  font-weight: 300 !important;
}

label[role='menuitem'] {
  &.active {
    color: kale(500) !important;
  }
  &:hover {
    color: kale(500) !important;
  }
  span {
    font-family: 'gcentra' !important;
    font-weight: 300 !important;
  }
}

label[type='group'] {
  span {
    font-family: 'gcentra' !important;
    font-weight: 400 !important;
  }
}

h1 {
  color: #222525 !important;
  font-family: 'clearface' !important;
}

h2, h3, input {
  font-family: 'gcentra' !important;
  font-weight: 400 !important;
}