openapi: 3.0.0
tags:
  - name: Employees
  - name: Companies
  - name: Jobs
  - name: Locations
  - name: Contractors
  - name: Compensations
  - name: Garnishments
  - name: Terminations
  - name: Time Off Requests
  - name: Pay Schedules
info:
  title: Gusto API
  version: '1.0'
  termsOfService: 'https://gusto.com/about/terms'
  description: Welcome to Gusto's API documentation.
  contact:
    name: Developer Relations
    email: developer@gusto.com
servers:
  - url: 'https://api.gusto-demo.com'
    description: Demo
  - description: Production
    url: 'https://api.gusto.com'
paths:
  '/v1/employees/{employee_id}':
    get:
      summary: Get an employee
      operationId: get-v1-employees
      description: Get an employee.
      parameters: []
      responses:
        '200':
          $ref: '#/components/responses/Employee-Object'
      tags:
        - Employees
    post:
      summary: Create an employee
      operationId: post-v1-employees
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                first_name:
                  type: string
                middle_initial:
                  type: string
                last_name:
                  type: string
                date_of_birth:
                  type: string
                email:
                  type: string
                ssn:
                  type: string
                  pattern: '[0-9]{9}'
                two_percent_shareholder:
                  type: boolean
            examples:
              Example:
                value:
                  first_name: Soren
                  middle_initial: A
                  last_name: Kierkegaard
                  date_of_birth: '1995-05-05'
                  email: knight0faith@example.com
                  ssn: '1234562940'
                  two_percent_shareholder: true
        description: Create an employee.
      parameters: []
      description: Create an employee.
      responses:
        '201':
          $ref: '#/components/responses/Employee-Object'
      tags:
        - Employees
    put:
      summary: Update an employee
      operationId: put-v1-employees
      description: Update an employee.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                version:
                  type: string
                  description: The current version of the object. See the versioning guide for information on how to use this field.
                first_name:
                  type: string
                middle_initial:
                  type: string
                last_name:
                  type: string
                date_of_birth:
                  type: string
                email:
                  type: string
                ssn:
                  type: string
                  pattern: '[0-9]{9}'
                two_percent_shareholder:
                  type: boolean
              required:
                - version
            examples:
              Example:
                value:
                  version: db0edd04aaac4506f7edab03ac855d56
                  first_name: Soren
                  middle_initial: A
                  last_name: Kierkegaard
                  date_of_birth: '1995-05-05'
                  email: knight0faith@example.com
                  ssn: '1234562940'
                  two_percent_shareholder: false
        description: Update an employee.
      parameters: []
      responses:
        '200':
          $ref: '#/components/responses/Employee-Object'
      tags:
        - Employees
    parameters:
      - schema:
          type: string
        name: employee_id
        in: path
        required: true
        description: The ID of the employee
  '/v1/companies/{company_id}':
    get:
      summary: Get a company
      operationId: get-v1-companies
      description: Get a company.
      parameters: []
      responses:
        '200':
          $ref: '#/components/responses/Company-Object'
      tags:
        - Companies
    parameters:
      - schema:
          type: string
        name: company_id
        in: path
        description: The ID of the company
        required: true
  '/v1/companies/{company_id}/employees':
    parameters:
      - schema:
          type: string
        name: company_id
        in: path
        required: true
        description: The ID of the company
    get:
      summary: Get employees of a company
      operationId: get-v1-companies-company_id-employees
      parameters:
        - schema:
            type: boolean
          in: query
          name: terminated
          description: Filters employees by the provided boolean
      description: 'Get all of the employees, onboarding, active and terminated, for a given company.'
      responses:
        '200':
          $ref: '#/components/responses/Employee-List'
      tags:
        - Employees
  '/v1/jobs/{job_id}':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
        description: The job ID
    get:
      summary: Get a job
      responses:
        '200':
          $ref: '#/components/responses/Job-Object'
      operationId: get-v1-jobs-job_id
      parameters: []
      description: Get a job.
      tags:
        - Jobs
    put:
      summary: Update a job
      responses:
        '200':
          $ref: '#/components/responses/Job-Object'
      operationId: put-v1-jobs-job_id
      description: Update a job.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                version:
                  type: string
                  description: The current version of the object. See the versioning guide for information on how to use this field.
                title:
                  type: string
                location_id:
                  type: number
                hire_date:
                  type: string
              required:
                - version
            examples:
              Example:
                value:
                  version: gr78930htutrz444kuytr3s5hgxykuveb523fwl8sir
                  title: Regional Manager
                  location_id: 1363316536327002
                  hire_date: '2020-12-21'
        description: Update a job.
      tags:
        - Jobs
    post:
      summary: Create a job
      responses:
        '201':
          $ref: '#/components/responses/Job-Object'
      operationId: post-v1-jobs-job_id
      description: Create a job.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                title:
                  type: string
                location_id:
                  type: number
                hire_date:
                  type: string
            examples:
              Example:
                value:
                  title: Regional Manager
                  location_id: 1363316536327002
                  hire_date: '2020-12-21'
        description: Create a job.
      tags:
        - Jobs
  '/v1/employees/{employee_id}/jobs':
    parameters:
      - schema:
          type: string
        name: employee_id
        in: path
        required: true
        description: The employee ID
    get:
      summary: Get jobs for an employee
      responses:
        '200':
          $ref: '#/components/responses/Job-List'
      operationId: get-v1-employees-employee_id-jobs
      description: Get all of the jobs that an employee holds.
      parameters: []
      tags:
        - Jobs
  '/v1/companies/{company_id}/locations':
    parameters:
      - schema:
          type: string
        name: company_id
        in: path
        required: true
        description: The ID of the company
    get:
      summary: Get company locations
      responses:
        '200':
          $ref: '#/components/responses/Location-List'
      operationId: get-v1-companies-company_id-locations
      description: |-
        Company locations represent all addresses associated with a company. These can be filing addesses, mailing addresses, and/or work locations; one address may serve multiple, or all, purposes.

        Since all company locations are subsets of locations, retrieving or updating an individual record should be done via the locations endpoints.
      parameters: []
      tags:
        - Locations
    post:
      summary: Create a company location
      responses:
        '201':
          $ref: '#/components/responses/Location-Object'
      operationId: post-v1-companies-company_id-locations
      description: |-
        Company locations represent all addresses associated with a company. These can be filing addesses, mailing addresses, and/or work locations; one address may serve multiple, or all, purposes.

        Since all company locations are subsets of locations, retrieving or updating an individual record should be done via the locations endpoints.
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                phone_number:
                  type: string
                  pattern: '[0-9]{10}'
                street_1:
                  type: string
                street_2:
                  type: string
                city:
                  type: string
                state:
                  type: string
                zip:
                  type: string
                country:
                  type: string
                  default: USA
              required:
                - phone_number
                - street_1
                - city
                - state
                - zip
            examples:
              Example:
                value:
                  phone_number: '8009360383'
                  street_1: 425 2nd Street
                  street_2: Suite 602
                  city: San Francisco
                  state: CA
                  zip: '94107'
                  country: USA
          application/xml:
            schema:
              description: ''
              type: object
              properties:
                phone_number:
                  type: string
                  minLength: 1
                street_1:
                  type: string
                  minLength: 1
                street_2:
                  type: string
                  minLength: 1
                city:
                  type: string
                  minLength: 1
                state:
                  type: string
                  minLength: 1
                zip:
                  type: string
                  minLength: 1
                country:
                  type: string
                  minLength: 1
              required:
                - phone_number
                - street_1
                - street_2
                - city
                - state
                - zip
                - country
            examples:
              Example:
                value:
                  phone_number: '8009360383'
                  street_1: 425 2nd Street
                  street_2: Suite 602
                  city: San Francisco
                  state: CA
                  zip: '94107'
                  country: USA
        description: Create a company location.
      tags:
        - Locations
  '/v1/locations/{location_id}':
    parameters:
      - schema:
          type: string
        name: location_id
        in: path
        required: true
        description: The ID of the location
    get:
      summary: Get a location
      responses:
        '200':
          $ref: '#/components/responses/Location-Object'
      operationId: get-v1-locations-location_id
      description: Get a location.
      parameters: []
      tags:
        - Locations
    put:
      summary: Update a location
      responses:
        '200':
          $ref: '#/components/responses/Location-Object'
      operationId: put-v1-locations-location_id
      description: Update a location.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                phone_number:
                  type: string
                  pattern: '[0-9]{10}'
                street_1:
                  type: string
                street_2:
                  type: string
                city:
                  type: string
                state:
                  type: string
                zip:
                  type: string
                country:
                  type: string
            examples:
              Example:
                value:
                  phone_number: '8009360383'
                  street_1: 425 2nd Street
                  street_2: Suite 602
                  city: San Francisco
                  state: CA
                  zip: '94107'
                  country: USA
        description: Update a location
      tags:
        - Locations
  '/v1/contractors/{contractor_id}':
    parameters:
      - schema:
          type: string
        name: contractor_id
        in: path
        required: true
        description: The ID of the contractor
    get:
      summary: Get a contractor
      tags:
        - Contractors
      responses:
        '200':
          $ref: '#/components/responses/Contractor-Object'
      operationId: get-v1-contractors-contractor_id
      description: Get a contractor.
    put:
      summary: Update a contractor
      tags:
        - Contractors
      responses:
        '200':
          $ref: '#/components/responses/Contractor-Object'
      operationId: put-v1-contractors-contractor_id
      description: Update a contractor.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                version:
                  type: string
                  description: The current version of the object. See the versioning guide for information on how to use this field.
                start_date:
                  type: string
                  description: |
                    The day when the contractor will start working for the company.
                  example: '2020-01-11'
                first_name:
                  type: string
                  description: The contractor’s first name. This attribute is required for “Individual” contractors and will be ignored for “Business” contractors.
                last_name:
                  type: string
                  description: The contractor’s last name. This attribute is required for “Individual” contractors and will be ignored for “Business” contractors.
                middle_initial:
                  type: string
                  description: "null\tThe contractor’s middle initial. This attribute is optional for “Individual” contractors and will be ignored for “Business” contractors."
                wage_type:
                  type: string
                  description: |
                    The contractor’s wage type, either “Fixed” or “Hourly”.
                  enum:
                    - Fixed
                    - Hourly
                hourly_rate:
                  type: string
                  description: The contractor’s hourly rate. This attribute is required if the wage_type is “Hourly”.
                  example: '40.0'
                business_name:
                  type: string
                  description: The name of the contractor business. This attribute is required for “Business” contractors and will be ignored for “Individual” contractors.
                ein:
                  type: string
                  description: The employer identification number of the contractor business. This attribute is optional for “Business” contractors and will be ignored for “Individual” contractors.
            examples:
              Update an Individual Contractor:
                value:
                  version: b48c46abfed1487b873b442334b3c4ff
                  start_date: '2021-01-01'
                  first_name: Chanel
                  last_name: Boyle
                  middle_initial: X
                  wage_type: Hourly
                  hourly_rate: '20.00'
              Update a Business Contractor:
                value:
                  version: b48c46abfed1487b873b442334b3c4ff
                  start_date: '2020-01-11'
                  business_name: Contracting Solutions
                  ein: '991113334'
                  wage_type: Fixed
        description: ''
  '/v1/companies/{company_id}/contractors':
    parameters:
      - schema:
          type: string
        name: company_id
        in: path
        required: true
        description: The ID of the company
    get:
      summary: Get contractors of a company
      tags:
        - Contractors
      responses:
        '200':
          $ref: '#/components/responses/Contractor-List'
      operationId: get-v1-companies-company_id-contractors
      description: 'Get all contractors, active and inactive, individual and business, for a company.'
    post:
      summary: Create a contractor
      tags:
        - Contractors
      responses:
        '201':
          $ref: '#/components/responses/Contractor-Object'
      operationId: post-v1-companies-company_id-contractors
      description: Create an individual or business contractor.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                type:
                  type: string
                  description: |
                    The contractor type, either an “Individual” or a “Business”.
                  enum:
                    - Individual
                    - Business
                wage_type:
                  type: string
                  enum:
                    - Hourly
                    - Fixed
                  description: |
                    The contractor’s wage type, either “Fixed” or “Hourly”.
                first_name:
                  type: string
                  description: The contractor’s first name. This attribute is required for “Individual” contractors and will be ignored for “Business” contractors.
                last_name:
                  type: string
                  description: The contractor’s last_name. This attribute is optional for “Individual” contractors and will be ignored for “Business” contractors.
                start_date:
                  type: string
                  example: '2020-10-10'
                  description: The day when the contractor will start working for the company.
                self_onboarding:
                  type: boolean
                  default: false
                  description: 'Whether the contractor or the payroll admin will complete onboarding in Gusto. Self-onboarding is recommended so that contractors receive Gusto accounts. If self_onboarding is true, then email is required. '
                email:
                  type: string
                  description: The contractor’s email address. This attribute is optional for “Individual” contractors and will be ignored for “Business” contractors.
                middle_initial:
                  type: string
                  description: The contractor’s middle initial. This attribute is optional for “Individual” contractors and will be ignored for “Business” contractors.
                business_name:
                  type: string
                  description: The name of the contractor business. This attribute is required for “Business” contractors and will be ignored for “Individual” contractors.
                ein:
                  type: string
                  description: The employer identification number of the contractor business. This attribute is optional for “Business” contractors and will be ignored for “Individual” contractors.
              required:
                - type
                - wage_type
                - start_date
            examples:
              Create an Individual contractor:
                value:
                  type: Individual
                  wage_type: Fixed
                  first_name: Johnson
                  last_name: Johnson
                  start_date: '2020-04-01'
                  self_onboarding: true
                  email: johnson@johnson.com
              Create a Business contractor:
                value:
                  type: Business
                  wage_type: Fixed
                  business_name: Johnson-Johnson Contractors
                  start_date: '2020-04-01'
        description: Create an individual or business contractor.
  '/v1/companies/{company_id}/contractor_payments':
    parameters:
      - schema:
          type: string
        name: company_id
        in: path
        required: true
        description: The ID of the company
    get:
      summary: Get contractor payments for a company
      tags:
        - Contractors
      responses:
        '200':
          $ref: '#/components/responses/Contractor-Payments'
      operationId: get-v1-companies-company_id-contractor_payments
      description: 'Returns an object containing individual contractor payments, within a given time period, including totals.'
      parameters:
        - schema:
            type: string
            example: '2020-01-01'
          in: query
          name: start_date
          description: The time period for which to retrieve contractor payments
        - schema:
            type: string
            example: '2020-12-31'
          in: query
          name: end_date
          description: The time period for which to retrieve contractor payments
  '/v1/compensations/{compensation_id}':
    parameters:
      - schema:
          type: string
        name: compensation_id
        in: path
        required: true
        description: The ID of the compensation
    get:
      summary: Get a compensation
      responses:
        '200':
          $ref: '#/components/responses/Compensation-Object'
      operationId: get-v1-compensations-compensation_id
      description: |-
        Compensations contain information on how much is paid out for a job. Jobs may have many compensations, but only one that is active. The current compensation is the one with the most recent `effective_date`.

        Note: Currently, jobs are arbitrarily limited to a single compensation as multiple compensations per job are not yet available in Gusto. The API is architected as if multiple compensations may exist, so integrations should integrate under the same assumption. The only exception is that creating a compensation with the same `job_id` as another will fail with a relevant error
      tags:
        - Compensations
    put:
      summary: Update a compensation
      tags:
        - Jobs
      responses:
        '200':
          $ref: '#/components/responses/Compensation-Object'
      operationId: put-v1-compensations-compensation_id
      description: |-
        Compensations contain information on how much is paid out for a job. Jobs may have many compensations, but only one that is active. The current compensation is the one with the most recent `effective_date`.

        Note: Currently, jobs are arbitrarily limited to a single compensation as multiple compensations per job are not yet available in Gusto. The API is architected as if multiple compensations may exist, so integrations should integrate under the same assumption. The only exception is that creating a compensation with the same `job_id` as another will fail with a relevant error
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                version:
                  type: string
                  description: The current version of the object. See the versioning guide for information on how to use this field.
                  readOnly: true
                rate:
                  type: string
                  readOnly: false
                  description: The dollar amount paid per payment unit.
                payment_unit:
                  type: string
                  readOnly: false
                  description: 'The unit accompanying the compensation rate. If the employee is an owner, rate should be ''Paycheck''.'
                  enum:
                    - Hour
                    - Week
                    - Month
                    - Year
                    - Paycheck
                flsa_status:
                  type: string
                  readOnly: false
                  description: 'The FLSA status for this compensation. Salaried (''Exempt'') employees are paid a fixed salary every pay period. Salaried with overtime (''Salaried Nonexempt'') employees are paid a fixed salary every pay period, and receive overtime pay when applicable. Hourly (''Nonexempt'') employees are paid for the hours they work, and receive overtime pay when applicable. Owners (''Owner'') are employees that own at least twenty percent of the company. '
                  enum:
                    - Exempt
                    - Salaried Nonexempt
                    - Nonexempt
                    - Owner
              required:
                - version
            examples:
              Example:
                value:
                  version: 98jr3289h3298hr9329gf9egskt3kagri32qqgiqe3872
                  rate: '60000.00'
                  payment_unit: Year
                  flsa_status: Exempt
  '/v1/jobs/{job_id}/compensations':
    parameters:
      - schema:
          type: string
        name: job_id
        in: path
        required: true
        description: The ID of the job to which the compensation belongs
    get:
      summary: Get compensations for a job
      responses:
        '200':
          $ref: '#/components/responses/Compensation-List'
      operationId: get-v1-jobs-job_id-compensations
      description: |-
        Compensations contain information on how much is paid out for a job. Jobs may have many compensations, but only one that is active. The current compensation is the one with the most recent `effective_date`.

        Note: Currently, jobs are arbitrarily limited to a single compensation as multiple compensations per job are not yet available in Gusto. The API is architected as if multiple compensations may exist, so integrations should integrate under the same assumption. The only exception is that creating a compensation with the same `job_id` as another will fail with a relevant error
      tags:
        - Compensations
    post:
      summary: Create a compensation
      tags:
        - Jobs
      operationId: post-v1-jobs-job_id-compensations
      description: |-
        Compensations contain information on how much is paid out for a job. Jobs may have many compensations, but only one that is active. The current compensation is the one with the most recent `effective_date`.

        Note: Currently, jobs are arbitrarily limited to a single compensation as multiple compensations per job are not yet available in Gusto. The API is architected as if multiple compensations may exist, so integrations should integrate under the same assumption. The only exception is that creating a compensation with the same `job_id` as another will fail with a relevant error
      responses:
        '201':
          $ref: '#/components/responses/Compensation-Object'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                rate:
                  type: string
                  readOnly: false
                  description: The dollar amount paid per payment unit.
                payment_unit:
                  type: string
                  readOnly: false
                  description: 'The unit accompanying the compensation rate. If the employee is an owner, rate should be ''Paycheck''.'
                  enum:
                    - Hour
                    - Week
                    - Month
                    - Year
                    - Paycheck
                flsa_status:
                  type: string
                  readOnly: false
                  description: 'The FLSA status for this compensation. Salaried (''Exempt'') employees are paid a fixed salary every pay period. Salaried with overtime (''Salaried Nonexempt'') employees are paid a fixed salary every pay period, and receive overtime pay when applicable. Hourly (''Nonexempt'') employees are paid for the hours they work, and receive overtime pay when applicable. Owners (''Owner'') are employees that own at least twenty percent of the company. '
                  enum:
                    - Exempt
                    - Salaried Nonexempt
                    - Nonexempt
                    - Owner
                effective_date:
                  type: string
                  description: 'The effective date for this compensation. For the first compensation, this defaults to the job''s hire date.'
              required:
                - rate
                - payment_unit
                - flsa_status
            examples:
              Example:
                value:
                  rate: '60000.00'
                  payment_unit: Year
                  flsa_status: Exempt
                  effective_date: '2020-03-15'
  '/v1/employees/{employee_id}/garnishments':
    parameters:
      - schema:
          type: string
        name: employee_id
        in: path
        required: true
        description: The ID of the employee to which the garnishment belongs
    get:
      summary: Get garnishments for an employee
      tags:
        - Garnishments
      responses:
        '200':
          $ref: '#/components/responses/Garnishment-List'
      operationId: get-v1-employees-employee_id-garnishments
      description: 'Garnishments, or employee deductions, are fixed amounts or percentages deducted from an employee’s pay. They can be deducted a specific number of times or on a recurring basis. Garnishments can also have maximum deductions on a yearly or per-pay-period bases. Common uses for garnishments are court-ordered payments for child support or back taxes. Some companies provide loans to their employees that are repaid via garnishments.'
    post:
      summary: Create a garnishment
      tags:
        - Garnishments
      responses:
        '201':
          $ref: '#/components/responses/Garnishment-Object'
      operationId: post-v1-employees-employee_id-garnishments
      description: 'Garnishments, or employee deductions, are fixed amounts or percentages deducted from an employee’s pay. They can be deducted a specific number of times or on a recurring basis. Garnishments can also have maximum deductions on a yearly or per-pay-period bases. Common uses for garnishments are court-ordered payments for child support or back taxes. Some companies provide loans to their employees that are repaid via garnishments.'
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                active:
                  type: boolean
                  default: true
                  description: Whether or not this garnishment is currently active.
                amount:
                  type: string
                  format: float
                  readOnly: false
                  description: 'The amount of the garnishment. Either a percentage or a fixed dollar amount. Represented as a float, e.g. "8.00".'
                description:
                  type: string
                  readOnly: false
                  description: The description of the garnishment.
                court_ordered:
                  type: boolean
                  readOnly: false
                  description: Whether the garnishment is court ordered.
                times:
                  type: integer
                  readOnly: false
                  default: null
                  description: The number of times to apply the garnisment. Ignored if recurring is true.
                recurring:
                  type: boolean
                  readOnly: false
                  default: false
                  description: Whether the garnishment should recur indefinitely.
                annual_maximum:
                  format: float
                  readOnly: false
                  default: null
                  description: 'The maximum deduction per annum. A null value indicates no maximum. Represented as a float, e.g. "200.00".'
                  type: string
                pay_period_maximum:
                  type: string
                  format: float
                  default: null
                  description: 'The maximum deduction per pay period. A null value indicates no maximum. Represented as a float, e.g. "16.00".'
                deduct_as_percentage:
                  type: boolean
                  readOnly: false
                  default: false
                  description: Whether the amount should be treated as a percentage to be deducted per pay period.
              required:
                - amount
                - description
                - court_ordered
          examples:
            Example:
              value:
                amount: '150.00'
                description: Back taxes
                court_ordered: true
                recurring: true
                deduct_as_percentage: false
  '/v1/garnishments/{garnishment_id}':
    parameters:
      - schema:
          type: string
        name: garnishment_id
        in: path
        required: true
        description: The ID of the garnishment
    get:
      summary: Get a garnishment
      tags:
        - Garnishments
      responses:
        '200':
          $ref: '#/components/responses/Garnishment-Object'
      operationId: get-v1-garnishments-garnishment_id
      description: 'Garnishments, or employee deductions, are fixed amounts or percentages deducted from an employee’s pay. They can be deducted a specific number of times or on a recurring basis. Garnishments can also have maximum deductions on a yearly or per-pay-period bases. Common uses for garnishments are court-ordered payments for child support or back taxes. Some companies provide loans to their employees that are repaid via garnishments.'
    put:
      summary: Update a garnishment
      tags:
        - Garnishments
      responses:
        '200':
          $ref: '#/components/responses/Garnishment-Object'
      operationId: put-v1-garnishments-garnishment_id
      description: 'Garnishments, or employee deductions, are fixed amounts or percentages deducted from an employee’s pay. They can be deducted a specific number of times or on a recurring basis. Garnishments can also have maximum deductions on a yearly or per-pay-period bases. Common uses for garnishments are court-ordered payments for child support or back taxes. Some companies provide loans to their employees that are repaid via garnishments.'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                active:
                  type: boolean
                  default: true
                  description: Whether or not this garnishment is currently active.
                amount:
                  type: string
                  format: float
                  readOnly: false
                  description: 'The amount of the garnishment. Either a percentage or a fixed dollar amount. Represented as a float, e.g. "8.00".'
                description:
                  type: string
                  readOnly: false
                  description: The description of the garnishment.
                court_ordered:
                  type: boolean
                  readOnly: false
                  description: Whether the garnishment is court ordered.
                times:
                  type: integer
                  readOnly: false
                  default: null
                  description: The number of times to apply the garnisment. Ignored if recurring is true.
                recurring:
                  type: boolean
                  readOnly: false
                  default: false
                  description: Whether the garnishment should recur indefinitely.
                annual_maximum:
                  format: float
                  readOnly: false
                  default: null
                  description: 'The maximum deduction per annum. A null value indicates no maximum. Represented as a float, e.g. "200.00".'
                  type: string
                pay_period_maximum:
                  type: string
                  format: float
                  default: null
                  description: 'The maximum deduction per pay period. A null value indicates no maximum. Represented as a float, e.g. "16.00".'
                deduct_as_percentage:
                  type: boolean
                  readOnly: false
                  default: false
                  description: Whether the amount should be treated as a percentage to be deducted per pay period.
                version:
                  type: string
                  description: The current version of the object. See the versioning guide for information on how to use this field.
              required:
                - version
            examples:
              Example:
                value:
                  version: 52b7c567242cb7452e89ba2bc02cb476
                  active: false
  '/v1/employees/{employee_id}/terminations':
    parameters:
      - schema:
          type: string
        name: employee_id
        in: path
        required: true
        description: The ID of the employee
    get:
      summary: Get terminations for an employee
      tags:
        - Terminations
      responses:
        '200':
          $ref: '#/components/responses/Termination-List'
      operationId: get-v1-employees-employee_id-terminations
      description: |-
        Terminations are created whenever an employee is scheduled to leave the company. The only things required are an effective date (their last day of work) and whether they should receive their wages in a one-off termination payroll or with the rest of the company.

        Note that some states require employees to receive their final wages within 24 hours (unless they consent otherwise,) in which case running a one-off payroll may be the only option.
    post:
      summary: Create an employee termination
      tags:
        - Terminations
      responses:
        '200':
          $ref: '#/components/responses/Termination-Object'
      operationId: post-v1-employees-employee_id-terminations
      description: |-
        Terminations are created whenever an employee is scheduled to leave the company. The only things required are an effective date (their last day of work) and whether they should receive their wages in a one-off termination payroll or with the rest of the company.

        Note that some states require employees to receive their final wages within 24 hours (unless they consent otherwise,) in which case running a one-off payroll may be the only option.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                effective_date:
                  type: string
                  description: The employee's last day of work.
                run_termination_payroll:
                  type: boolean
                  description: 'If true, the employee should recieve their final wages via an offcycle payroll. If false, they should recieve their final wages on their current pay schedule.'
            examples:
              Example:
                value:
                  effective_date: '2020-06-30'
                  run_termination_payroll: true
  '/v1/companies/{company_id}/time_off_requests':
    parameters:
      - schema:
          type: string
        name: company_id
        in: path
        required: true
        description: The ID of the company
    get:
      summary: Get time off requests for a company
      tags:
        - Time Off Requests
      responses:
        '200':
          $ref: '#/components/responses/Time-Off-Request-List'
      operationId: get-v1-companies-company_id-time_off_requests
      description: |
        Get all time off requests, past and present, for a company.

        In order to reduce the number of time off requests returned in a single response, or to retrieve time off requests from a time period of interest, you may use the `start_date` and `end_date` parameters.

        You may provide both or either parameters to scope the returned data. For example:

        `?start_date='2019-01-01'`

        Returns all time off requests where the request start date is equal to or after January 1, 2019.

        `?end_date='2019-01-01'`

        Returns all time off requests where the request end date is equal to or before January 1, 2019.
         
        `?start_date='2019-05-01'&end_date='2019-08-31'`

        Returns all time off requests where the request start date is equal to or after May 1, 2019 and the request end date is equal to or before August 31, 2019.
      parameters:
        - schema:
            type: string
            example: '"2019-05-01"'
          in: query
          name: start_date
          description: Filter time off requests where the request start date is equal to or after this parameter
        - schema:
            type: string
            example: '"2019-08-31"'
          in: query
          name: end_date
          description: Filter time off requests where the request end date is equal to or after this parameter
  /v1/me:
    get:
      summary: Get the current user
      tags:
        - Current User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Current-User'
              examples:
                Example:
                  value:
                    id: 1409720965546346
                    email: torrance.considine1409720965546346@schuster.info
                    roles:
                      payroll_admin:
                        companies:
                          - id: 1409720965614302
                            name: Crist-Balistreri Group
                            trade_name: Wyman and Sons LLC
                            locations:
                              - id: 1409721224078163
                                street_1: 63932 Jalyn Springs
                                street_2: Apt. 445
                                city: Cannon Beach
                                state: OR
                                zip: '97110'
                                country: USA
                                active: true
                              - id: 1409721315748742
                                street_1: 1152 River Villages
                                street_2: Apt. 563
                                city: Cannon Beach
                                state: OR
                                zip: '97110'
                                country: USA
                                active: true
      operationId: get-v1-me
      description: Returns information pertaining to the user associated with the provided access token.
  '/v1/employees/{employee_id}/home_addresss':
    parameters:
      - schema:
          type: string
        name: employee_id
        in: path
        required: true
        description: The ID of the employee
    get:
      summary: Get an employee's home address
      tags:
        - Employees
      responses:
        '200':
          $ref: '#/components/responses/Location-Object'
      operationId: get-v1-employees-employee_id-home_addresss
      description: The home address of an employee is used to determine certain tax information about them. Addresses are geocoded on create and update to ensure validity.
    put:
      summary: Update an employee's home address
      tags:
        - Employees
      responses:
        '200':
          $ref: '#/components/responses/Location-Object'
      operationId: put-v1-employees-employee_id-home_addresss
      description: The home address of an employee is used to determine certain tax information about them. Addresses are geocoded on create and update to ensure validity.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                version:
                  type: string
                  description: The current version of the object. See the versioning guide for information on how to use this field.
                street_1:
                  type: string
                street_2:
                  type: string
                city:
                  type: string
                state:
                  type: string
                zip:
                  type: string
              required:
                - version
            examples:
              Example:
                value:
                  version: fe75bd065ff48b91c35fe8ff842f986c
                  street_1: 300 3rd Street
                  street_2: null
                  city: San Francisco
                  state: CA
                  zip: '94107'
  '/v1/companies/{company_id}/pay_schedules':
    parameters:
      - schema:
          type: string
        name: company_id
        in: path
        required: true
        description: The ID of the company
    get:
      summary: Get the pay schedules for a company
      responses:
        '200':
          $ref: '#/components/responses/Pay-Schedule-List'
      operationId: get-v1-companies-company_id-pay_schedules
      description: The pay schedule object in Gusto captures the details of when employees work and when they should be paid. A company can have multiple pay schedules.
      tags:
        - Pay Schedules
  '/v1/companies/{company_id}/pay_schedules/{pay_schedule_id}':
    parameters:
      - schema:
          type: string
        name: company_id
        in: path
        required: true
        description: The ID of the company
      - schema:
          type: string
        name: pay_schedule_id
        in: path
        required: true
        description: The ID of the pay schedule
    get:
      summary: Get a pay schedule
      responses:
        '200':
          $ref: '#/components/responses/Pay-Schedule-Object'
      operationId: get-v1-companies-company_id-pay_schedules-pay_schedule_id
      description: The pay schedule object in Gusto captures the details of when employees work and when they should be paid. A company can have multiple pay schedules.
      tags:
        - Pay Schedules
components:
  schemas:
    Location:
      description: The representation of an address in Gusto.
      type: object
      x-examples:
        Company Location:
          company_id: 7756341740978008
          version: 7d9753112507b9dda4fb97910f39b06e
          phone_number: '5825710808'
          id: 7757727716657803
          street_1: 412 Kiera Stravenue
          street_2: Suite 391
          city: San Francisco
          state: CA
          zip: '94107'
          country: USA
          active: true
      properties:
        id:
          type: integer
          description: The unique identifier of the location in Gusto.
          readOnly: true
        version:
          type: string
          description: The current version of the object. See the versioning guide for information on how to use this field.
          readOnly: true
        company_id:
          type: integer
          description: The ID for the company to which the location belongs. Only included if the location belongs to a company.
          readOnly: true
        employee_id:
          type: integer
          description: The ID for the employee to which the location belongs. Only included if the location belongs to an employee.
          readOnly: true
        phone_number:
          type: string
          readOnly: false
          description: The phone number for the location. Required for company locations. Optional for employee locations.
        street_1:
          type: string
          readOnly: false
        street_2:
          type:
            - string
            - 'null'
          readOnly: false
        city:
          type: string
          readOnly: false
        state:
          type: string
          readOnly: false
        zip:
          type: string
          readOnly: false
        country:
          type: string
          readOnly: false
          default: USA
        active:
          type: boolean
          description: 'The status of the location. Inactive locations have been deleted, but may still have historical data associated with them.'
          readOnly: true
      x-tags:
        - Locations
    Employee:
      title: Employee
      type: object
      description: The representation of an employee in Gusto.
      x-examples:
        Example:
          id: 7757869432666660
          first_name: Nicole
          middle_initial: M
          last_name: Boehm
          email: kory7757869450111548@barton-hermiston.io
          company_id: 7756341740978008
          manager_id: 7757869432666662
          version: 414dedaca594b77135e0b8d2f398516d
          department: null
          terminated: false
          two_percent_shareholder: false
          onboarded: true
          jobs:
            - id: 7757869441037999
              version: 91179081a7309c9fbd31bb3cf7b9893e
              employee_id: 7757869432666660
              current_compensation_id: 7757869444844980
              payment_unit: Hour
              primary: true
              title: Client Support Manager
              compensations:
                - id: 7757869444844980
                  version: 233f0096a8015e62d9795fadf1fd300d
                  payment_unit: Hour
                  flsa_status: Nonexempt
                  job_id: 7757869441037999
                  effective_date: '2021-01-20'
                  rate: '22.00'
              rate: '22.00'
              hire_date: '2020-01-20'
              location_id: 7757727716657803
              location:
                id: 7757727716657803
                street_1: 412 Kiera Stravenue
                street_2: Suite 391
                city: San Francisco
                state: CA
                zip: '94107'
                country: USA
                inactive: false
          eligible_paid_time_off:
            - name: Sick Hours
              accrual_unit: Hour
              accrual_rate: '208.0'
              accrual_period: Year
              accrual_balance: '71.0'
              maximum_accrual_balance: '240.0'
              paid_at_termination: false
            - name: Vacation Hours
              accrual_unit: Hour
              accrual_rate: '208.0'
              accrual_period: Year
              accrual_balance: '34.0'
              maximum_accrual_balance: '240.0'
              paid_at_termination: true
          terminations: []
          home_address:
            version: 7776defce07496b82f3f1ed469e48ae5
            employee_id: 7757869432666660
            street_1: 3772 Reynolds Centers
            street_2: Suite 461
            city: San Francisco
            state: CA
            zip: '94107'
            country: USA
            active: true
          garnishments: []
          date_of_birth: '1996-05-08'
          ssn: ''
          phone: '1234567890'
          preferred_first_name: Vanessa
          work_email: null
      properties:
        id:
          type: number
          description: The unique identifier of the employee in Gusto.
          readOnly: true
        first_name:
          type: string
        middle_initial:
          type: string
          nullable: true
        last_name:
          type: string
        email:
          type: string
          nullable: true
          description: The email address of the employee. This is provided to support syncing users between our system and yours. You may not use this email address for any other purpose (e.g. marketing).
        company_id:
          type: number
          description: The ID of the company the employee is employed by.
          readOnly: true
        manager_id:
          type: number
          nullable: true
          description: The ID of the employee's manager in Gusto.
          readOnly: true
        version:
          type: string
          description: The current version of the employee. See the versioning guide for details using this field.
          readOnly: true
        department:
          type: string
          nullable: true
          description: The employee's department in the company.
          readOnly: true
        terminated:
          type: boolean
          description: Whether the employee is terminated.
          readOnly: true
        two_percent_shareholder:
          type: boolean
          description: Whether the employee is a two percent shareholder of the company. This field only applies to companies with an S-Corp entity type.
        onboarded:
          type: boolean
          description: Whether the employee has completed onboarding.
          readOnly: true
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/Job'
        eligible_paid_time_off:
          type: array
          items:
            $ref: '#/components/schemas/Paid-Time-Off'
        terminations:
          type: array
          items:
            $ref: '#/components/schemas/Termination'
        home_address:
          $ref: '#/components/schemas/Location'
        garnishments:
          type: array
          items:
            $ref: '#/components/schemas/Garnishment'
        date_of_birth:
          type:
            - string
            - 'null'
          readOnly: true
        ssn:
          type: string
          description: Deprecated. This field always returns an empty string.
        phone:
          type: string
        preferred_first_name:
          type: string
          description: ''
        work_email:
          type:
            - string
            - 'null'
          description: The work email address of the employee. This is provided to support syncing users between our system and yours. You may not use this email address for any other purpose (e.g. marketing).
      readOnly: true
      x-tags:
        - Employees
    Paid-Time-Off:
      type: object
      description: The representation of paid time off in Gusto.
      properties:
        name:
          type: string
          description: The name of the paid time off type.
          readOnly: true
        accrual_unit:
          type: string
          example: Hour
          description: The unit the PTO type is accrued in.
          readOnly: true
        accrual_rate:
          type: string
          description: The number of accrual units accrued per accrual period.
          readOnly: true
        accrual_period:
          type: string
          example: Year
          description: The frequency at which the PTO type is accrued.
          readOnly: true
        accrual_balance:
          type: string
          description: The number of accrual units accrued.
          readOnly: true
        maximum_accrual_balance:
          type:
            - string
            - 'null'
          description: The maximum number of accrual units allowed. A null value signifies no maximum.
          readOnly: true
        paid_at_termination:
          type: boolean
          description: Whether the accrual balance is paid to the employee upon termination.
          readOnly: true
      x-examples:
        Example:
          name: Sick Hours
          accrual_unit: Hour
          accrual_rate: '208.0'
          accrual_period: Year
          accrual_balance: '64.0'
          maximum_accrual_balance: '240.0'
          paid_at_termination: false
    Garnishment:
      description: 'Garnishments, or employee deductions, are fixed amounts or percentages deducted from an employee’s pay. They can be deducted a specific number of times or on a recurring basis. Garnishments can also have maximum deductions on a yearly or per-pay-period bases. Common uses for garnishments are court-ordered payments for child support or back taxes. Some companies provide loans to their employees that are repaid via garnishments.'
      type: object
      x-examples:
        Example:
          id: 1363316538400333
          version: 52b7c567242cb7452e89ba2bc02cb476
          employee_id: 8964216891236743
          active: true
          amount: '8.00'
          description: Company loan to employee
          court_ordered: false
          times: 5
          recurring: false
          annual_maximum: null
          pay_period_maximum: '100.00'
          deduct_as_percentage: true
      properties:
        id:
          type: integer
          description: The unique identifier of the garnishment in Gusto.
          readOnly: true
        version:
          type: string
          description: The current version of the object. See the versioning guide for information on how to use this field.
          readOnly: true
        employee_id:
          type: integer
          description: The ID of the employee to which this garnishment belongs.
          readOnly: true
        active:
          type: boolean
          default: true
          description: Whether or not this garnishment is currently active.
        amount:
          type: string
          format: float
          readOnly: false
          description: 'The amount of the garnishment. Either a percentage or a fixed dollar amount. Represented as a float, e.g. "8.00".'
        description:
          type: string
          readOnly: false
          description: The description of the garnishment.
        court_ordered:
          type: boolean
          readOnly: false
          description: Whether the garnishment is court ordered.
        times:
          type:
            - integer
            - 'null'
          readOnly: false
          default: null
          description: The number of times to apply the garnisment. Ignored if recurring is true.
        recurring:
          type: boolean
          readOnly: false
          default: false
          description: Whether the garnishment should recur indefinitely.
        annual_maximum:
          format: float
          readOnly: false
          default: null
          description: 'The maximum deduction per annum. A null value indicates no maximum. Represented as a float, e.g. "200.00".'
          type:
            - string
            - 'null'
        pay_period_maximum:
          type:
            - string
            - 'null'
          format: float
          default: null
          description: 'The maximum deduction per pay period. A null value indicates no maximum. Represented as a float, e.g. "16.00".'
        deduct_as_percentage:
          type: boolean
          readOnly: false
          default: false
          description: Whether the amount should be treated as a percentage to be deducted per pay period.
      x-tags:
        - Garnishments
    Termination:
      type: object
      description: The representation of a termination in Gusto.
      properties:
        id:
          type: integer
          description: The unique identifier of the termination in Gusto.
          readOnly: true
        version:
          type: string
          description: The current version of the object. See the versioning guide for information on how to use this field.
          readOnly: true
        employee_id:
          type: integer
          description: The ID of the employee to which this termination is attached.
          readOnly: true
        active:
          type: boolean
          description: Whether the employee's termination has gone into effect.
          readOnly: true
        effective_date:
          type: string
          readOnly: false
          description: The employee's last day of work.
        run_termination_payroll:
          type: boolean
          readOnly: false
          description: 'If true, the employee should recieve their final wages via an offcycle payroll. If false, they should recieve their final wages on their current pay schedule.'
      x-examples:
        example-1:
          id: 891238902131212
          version: d487dd0b55dfcacdd920ccbdaeafa351
          active: true
          effective_date: '2020-03-10'
          run_termination_payroll: false
      x-tags:
        - Terminations
    Compensation:
      type: object
      description: The representation of compensation in Gusto.
      properties:
        id:
          type: integer
          description: The unique identifier of the compensation in Gusto.
          readOnly: true
        version:
          type: string
          description: The current version of the object. See the versioning guide for information on how to use this field.
          readOnly: true
        job_id:
          type: integer
          description: The ID of the job to which the compensation belongs.
          readOnly: true
        rate:
          type: string
          readOnly: false
          description: The dollar amount paid per payment unit.
        payment_unit:
          type: string
          readOnly: false
          description: 'The unit accompanying the compensation rate. If the employee is an owner, rate should be ''Paycheck''.'
          enum:
            - Hour
            - Week
            - Month
            - Year
            - Paycheck
        flsa_status:
          type: string
          readOnly: false
          description: 'The FLSA status for this compensation. Salaried (''Exempt'') employees are paid a fixed salary every pay period. Salaried with overtime (''Salaried Nonexempt'') employees are paid a fixed salary every pay period, and receive overtime pay when applicable. Hourly (''Nonexempt'') employees are paid for the hours they work, and receive overtime pay when applicable. Owners (''Owner'') are employees that own at least twenty percent of the company. '
          enum:
            - Exempt
            - Salaried Nonexempt
            - Nonexempt
            - Owner
        effective_date:
          type: string
          readOnly: false
          description: 'The effective date for this compensation. For the first compensation, this defaults to the job''s hire date.'
      x-examples:
        Example:
          id: 1363316536327004
          version: 98jr3289h3298hr9329gf9egskt3kagri32qqgiqe3872
          job_id: 1123581321345589
          rate: '70.00'
          payment_unit: Hour
          flsa_status: Nonexempt
          effective_date: '2020-12-11'
      x-tags:
        - Compensations
    Job:
      title: Job
      type: object
      properties:
        id:
          type: integer
          description: The unique identifier of the job in Gusto.
          readOnly: true
        version:
          type: string
          description: The current version of the object. See the versioning guide for information on how to use this field.
          readOnly: true
        employee_id:
          type: integer
          description: The ID of the employee to which the job belongs.
          readOnly: true
        location_id:
          type: integer
          readOnly: false
          description: The ID of the job's work location.
        location:
          type: object
          properties:
            id:
              type: number
              readOnly: true
            street_1:
              type: string
              readOnly: true
            street_2:
              type: string
              readOnly: true
            city:
              type: string
              readOnly: true
            state:
              type: string
              readOnly: true
            zip:
              type: string
              readOnly: true
            country:
              type: string
              readOnly: true
            inactive:
              type: boolean
              readOnly: true
              description: Whether the location of the job is active.
        hire_date:
          type: string
          readOnly: false
          description: The date when the employee was hired for the job.
        title:
          type: string
          readOnly: false
          default: null
          description: The title for the job.
        primary:
          type: boolean
          description: Whether this is the employee’s primary job. The value will be set to true unless an existing job exists for the employee.
          readOnly: true
        rate:
          type: string
          description: The current compensation rate of the job.
          readOnly: true
        payment_unit:
          type: string
          description: The payment unit of the current compensation for the job.
          readOnly: true
        current_compensation_id:
          type: integer
          description: The ID for the current compensation of the job.
          readOnly: true
        compensations:
          type: array
          items:
            $ref: '#/components/schemas/Compensation'
          readOnly: true
      description: The representation of a job in Gusto.
      x-examples:
        Example:
          id: 7757869441038000
          version: d0e719137f89ca3dd334dd4cc248ffbb
          employee_id: 7757869432666661
          current_compensation_id: 7757869444844981
          payment_unit: Year
          primary: true
          title: Account Director
          compensations:
            - id: 7757869444844981
              version: 994b75511d1debac5d7e2ddeae13679f
              payment_unit: Year
              flsa_status: Exempt
              job_id: 7757869441038000
              effective_date: '2021-01-20'
              rate: '78000.00'
          rate: '78000.00'
          hire_date: '2020-01-20'
          location_id: 7757727716657803
          location:
            id: 7757727716657803
            street_1: 412 Kiera Stravenue
            street_2: Suite 391
            city: San Francisco
            state: CA
            zip: '94107'
            country: USA
            inactive: false
      x-tags:
        - Jobs
    Company:
      title: Company
      type: object
      description: The representation of a company in Gusto.
      properties:
        ein:
          type: string
          description: The Federal Employer Identification Number of the company.
          readOnly: true
        entity_type:
          type: string
          description: The tax payer type of the company.
          enum:
            - C-Corporation
            - S-Corporation
            - Sole proprietor
            - LLC
            - LLP
            - Limited partnership
            - Co-ownership
            - Association
            - Trusteeship
            - General partnership
            - Joint venture
            - Non-Profit
          readOnly: true
        is_suspended:
          type: boolean
          description: Whether or not the company is suspended in Gusto. Suspended companies may not run payroll.
        company_status:
          type: string
          description: 'The status of the company in Gusto. "Approved" companies may run payroll with Gusto. "Not Approved" companies may not yet run payroll with Gusto. In order to run payroll, the company may need to complete onboarding or contact support. "Suspended" companies may not run payroll with Gusto. In order to unsuspend their account, the company must contact support.'
          enum:
            - Approved
            - Not Approved
            - Suspended
          readOnly: true
        id:
          type: number
          description: The unique identifier of the company in Gusto.
          readOnly: true
        name:
          type: string
          description: The name of the company.
          readOnly: true
        trade_name:
          type: string
          description: The trade name of the company.
          readOnly: true
        locations:
          type: array
          uniqueItems: false
          description: The locations of the company.
          items:
            $ref: '#/components/schemas/Location'
          readOnly: true
        compensations:
          type: object
          description: The available company-wide compensation rates for the company.
          properties:
            hourly:
              type: array
              uniqueItems: true
              description: The available hourly compensation rates for the company.
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: The name of the hourly compensation rate.
                    example: Overtime
                    readOnly: true
                  multiple:
                    type: number
                    description: The amount multiplied by the base rate of a job to calculate compensation.
                    example: 1.5
                    readOnly: true
                readOnly: true
              readOnly: true
            fixed:
              type: array
              uniqueItems: true
              description: The available fixed compensation rates for the company.
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: The name of the fixed compensation.
                    example: Bonus
                readOnly: true
              readOnly: true
            paid_time_off:
              type: array
              uniqueItems: true
              description: The available types of paid time off for the company.
              items:
                type: object
                properties:
                  name:
                    type: string
                    example: Vacation Hours
                    description: The name of the paid time off type.
                    readOnly: true
                readOnly: true
              readOnly: true
          readOnly: true
        primary_signatory:
          type: object
          description: The primary signatory of the company.
          properties:
            first_name:
              type: string
              readOnly: true
            middle_initial:
              type: string
              readOnly: true
            last_name:
              type: string
              readOnly: true
            phone:
              type: string
              readOnly: true
            email:
              type: string
              readOnly: true
            home_address:
              type: object
              properties:
                street_1:
                  type: string
                  readOnly: true
                street_2:
                  type: string
                  readOnly: true
                city:
                  type: string
                  readOnly: true
                state:
                  type: string
                  readOnly: true
                zip:
                  type: string
                  readOnly: true
                country:
                  type: string
                  readOnly: true
              readOnly: true
          readOnly: true
        primary_payroll_admin:
          type: object
          description: The primary payroll admin of the company.
          properties:
            first_name:
              type: string
              readOnly: true
            last_name:
              type: string
              readOnly: true
            phone:
              type: string
              readOnly: true
            email:
              type: string
              readOnly: true
      x-examples:
        Example:
          ein: 00-0000001
          entity_type: C-Corporation
          is_suspended: false
          company_status: Approved
          id: 7756341740978008
          name: Shoppe Studios LLC
          trade_name: Record Shoppe
          locations:
            - id: 7757727716657803
              street_1: 412 Kiera Stravenue
              street_2: Suite 391
              city: San Francisco
              state: CA
              zip: '94107'
              country: USA
              active: true
            - id: 7757727716657804
              street_1: 644 Fay Vista
              street_2: Suite 842
              city: Richmond
              state: VA
              zip: '23218'
              country: USA
              active: true
          compensations:
            hourly:
              - name: Overtime
                multiple: 1.5
              - name: Double overtime
                multiple: 2
              - name: Regular
                multiple: 1
              - name: Vacation
                multiple: 1
              - name: Outstanding vacation
                multiple: 1
              - name: Sick
                multiple: 1
              - name: Holiday
                multiple: 1
              - name: Emergency sick - self care
                multiple: 1
              - name: Emergency sick - caring for others
                multiple: 1
              - name: FMLA Public Health Emergency Leave
                multiple: 1
              - name: Regular Hours
                multiple: 1
            fixed:
              - name: Bonus
              - name: Commission
              - name: Paycheck Tips
              - name: Cash Tips
              - name: Correction Payment
              - name: Severance
              - name: Minimum Wage Adjustment
              - name: Reimbursement
            paid_time_off:
              - name: Vacation Hours
              - name: Sick Hours
              - name: Holiday Hours
          primary_signatory:
            first_name: Alda
            middle_initial: ''
            last_name: Carter
            phone: null
            email: louie.hessel7757869450111547@zemlak.biz
            home_address:
              street_1: 524 Roob Divide
              street_2: Suite 565
              city: San Francisco
              state: CA
              zip: '94107'
              country: USA
          primary_payroll_admin:
            first_name: Ian
            last_name: Labadie
            phone: 1-565-710-7559
            email: louie.hessel7757869450111547@zemlak.biz
      x-tags:
        - Companies
    Contractor:
      description: The representation of a contractor (individual or business) in Gusto.
      type: object
      x-examples:
        Individual Contractor:
          id: 7757515807594512
          company_id: 7757616923763477
          wage_type: Hourly
          is_active: true
          version: 63859768485e218ccf8a449bb60f14ed
          type: Individual
          first_name: Kory
          last_name: Gottlieb
          middle_initial: P
          business_name: null
          ein: null
          email: keira.west@mckenzie.org
          address:
            street_1: 621 Jast Row
            street_2: Apt. 281
            city: Coral Springs
            state: FL
            zip: '33065'
            country: USA
          hourly_rate: '40.00'
        Business Contractor:
          id: 7757515807614539
          company_id: 7757616923763477
          wage_type: Fixed
          is_active: true
          version: 8aab307f1e8ed788697f8986346af559
          type: Business
          first_name: null
          last_name: null
          middle_initial: null
          business_name: Labadie-Stroman
          ein: XX-XXX0001
          email: jonatan@kerluke.info
          address:
            street_1: 1625 Bednar Center
            street_2: Apt. 480
            city: Port Charlotte
            state: FL
            zip: '33954'
            country: USA
          hourly_rate: '0.00'
      title: ''
      properties:
        id:
          type: number
          description: The unique identifier of the contractor in Gusto.
          readOnly: true
        company_id:
          type: number
          description: The ID of the company the contractor is employed by.
          readOnly: true
        wage_type:
          type: string
          enum:
            - Fixed
            - Hourly
          description: 'The contractor''s wage type, either "Fixed" or "Hourly".'
        is_active:
          type: boolean
          default: true
          description: The status of the contractor with the company.
          readOnly: true
        version:
          type: string
          description: The current version of the object. See the versioning guide for information on how to use this field.
          readOnly: true
        type:
          type: string
          enum:
            - Individual
            - Business
          description: 'The contractor''s type, either "Individual" or "Business". '
        first_name:
          type:
            - string
            - 'null'
          description: The contractor’s first name. This attribute is required for “Individual” contractors and will be ignored for “Business” contractors.
        last_name:
          type:
            - string
            - 'null'
          description: The contractor’s last name. This attribute is required for “Individual” contractors and will be ignored for “Business” contractors.
        middle_initial:
          type:
            - string
            - 'null'
          description: The contractor’s middle initial. This attribute is optional for “Individual” contractors and will be ignored for “Business” contractors.
        business_name:
          type:
            - string
            - 'null'
          description: The name of the contractor business. This attribute is required for “Business” contractors and will be ignored for “Individual” contractors.
        ein:
          type:
            - string
            - 'null'
          description: The Federal Employer Identification Number of the contractor business. This attribute is optional for “Business” contractors and will be ignored for “Individual” contractors.
        email:
          type:
            - string
            - 'null'
          description: 'The contractor’s email address. This attribute is optional for “Individual” contractors and will be ignored for “Business” contractors. '
        address:
          type: object
          description: The contractor’s home address.
          properties:
            street_1:
              type: string
              readOnly: true
            street_2:
              type: string
              readOnly: true
            city:
              type: string
              readOnly: true
            state:
              type: string
              readOnly: true
            zip:
              type: string
              readOnly: true
            country:
              type: string
              readOnly: true
          readOnly: true
        hourly_rate:
          type: string
          example: '50.0'
          description: The contractor’s hourly rate. This attribute is required if the wage_type is “Hourly”.
      x-tags:
        - Contractors
    Contractor-Payment:
      description: The representation of a single contractor payment.
      type: object
      x-examples:
        Example:
          bonus: '20.0'
          date: '2020-10-19'
          hours: '40.0'
          payment_method: Historical Payment
          reimbursement: '100.0'
          hourly_rate: '18.0'
          wage: '0.0'
          wage_type: Hourly
          wage_total: '740.00'
      title: Contractor Payment
      properties:
        bonus:
          type: string
          description: The bonus amount in the payment.
          readOnly: true
        date:
          type: string
          description: The payment date.
          readOnly: true
        hours:
          type: string
          description: The number of hours worked for the payment.
          readOnly: true
        payment_method:
          type: string
          description: The payment method.
          enum:
            - Direct Deposit
            - Check
            - Historical Payment
            - Correction Payment
          readOnly: true
        reimbursement:
          type: string
          description: The reimbursement amount in the payment.
          readOnly: true
        hourly_rate:
          type: string
          description: The rate per hour worked for the payment.
          readOnly: true
        wage:
          type: string
          description: 'The fixed wage of the payment, regardless of hours worked.'
          readOnly: true
        wage_type:
          type: string
          description: The wage type for the payment.
          enum:
            - Hourly
            - Fixed
          readOnly: true
        wage_total:
          type: string
          description: (hours * hourly_rate) + wage + bonus
          readOnly: true
      x-tags:
        - Contractors
    Contractor-Payment-Summary:
      description: The representation of the summary of contractor payments for a given company in a given time period.
      type: object
      x-examples:
        Example:
          total:
            reimbursements: '110.0'
            wages: '1840.0'
          contractor_payments:
            - contractor_id: 1234
              reimbursement_total: '110.0'
              wage_total: '1840.0'
              payments:
                - bonus: '20.0'
                  date: '2020-10-19'
                  hours: '40.0'
                  payment_method: Historical Payment
                  reimbursement: '100.0'
                  hourly_rate: '18.0'
                  wage: '0.0'
                  wage_type: Hourly
                  wage_total: '740.00'
                - bonus: '100.0'
                  date: '2020-10-19'
                  hours: '0.00'
                  payment_method: Historical Payment
                  reimbursement: '10.0'
                  hourly_rate: '0.0'
                  wage: '1000.0'
                  wage_type: Fixed
                  wage_total: '1100.0'
      properties:
        total:
          type: object
          description: The wage and reimbursement totals for all contractor payments within a given time period.
          properties:
            reimbursements:
              type: string
              description: The total reimbursements for contractor payments within a given time period.
              readOnly: true
            wages:
              type: string
              description: The total wages for contractor payments within a given time period.
              readOnly: true
          readOnly: true
        contractor_payments:
          type: array
          uniqueItems: false
          description: 'The individual contractor payments, within a given time period, grouped by contractor.'
          items:
            type: object
            description: ''
            properties:
              contractor_id:
                type: number
                description: The ID of the contractor.
                readOnly: true
              reimbursement_total:
                type: string
                description: The total remibursements for the contractor within a given time period.
                readOnly: true
              wage_total:
                type: string
                description: The total wages for the contractor within a given time period.
                readOnly: true
              payments:
                type: array
                uniqueItems: false
                description: |
                  The contractor’s payments within a given time period.
                items:
                  $ref: '#/components/schemas/Contractor-Payment'
                readOnly: true
            readOnly: true
          readOnly: true
      x-tags:
        - Contractors
    Time-Off-Request:
      title: Time-Off-Request
      type: object
      x-examples:
        Example:
          id: '1'
          status: approved
          employee_note: Vacation at Disney World!
          employer_note: But Universal has Harry Potter World...
          days:
            '2019-06-01': '4.000'
            '2019-06-02': '8.000'
            '2019-06-03': '2.000'
          request_type: vacation
          employee:
            id: '234567'
            full_name: Jessica Gusto
          approver:
            id: '345678'
            full_name: Karen Gusto
          initiator:
            id: '234567'
            full_name: Jessica Gusto
      description: 'The representation of a time off request. '
      x-tags:
        - Time Off Requests
      properties:
        id:
          type: integer
          description: The ID of the time off request.
          readOnly: true
        status:
          type: string
          description: The status of the time off request.
          enum:
            - pending
            - approved
            - denied
          readOnly: true
        employee_note:
          type: string
          description: 'A note about the time off request, from the employee to the employer.'
          readOnly: true
        employer_note:
          type: string
          description: 'A note about the time off request, from the employer to the employee.'
          readOnly: true
        request_type:
          type: string
          description: The type of time off request.
          enum:
            - vacation
            - sick
          readOnly: true
        days:
          description: 'An object that represents the days in the time off request. The keys of the object are the dates, formatted as a YYYY-MM-DD string. The values of the object are the number of hours requested off for each day, formatted as a string representation of a numeric decimal to the thousands place.'
          type: object
          readOnly: true
        employee:
          type: object
          description: ''
          properties:
            id:
              type: string
              description: The ID of the employee the time off request is for.
              readOnly: true
            full_name:
              type: string
              description: The full name of the employee the time off request is for.
              readOnly: true
          readOnly: true
        initiator:
          type:
            - 'null'
            - object
          description: ''
          properties:
            id:
              type: string
              description: The ID of the employee who initiated the time off request.
              readOnly: true
            full_name:
              type: string
              description: The full name of the employee who initiated the time off request.
              readOnly: true
          readOnly: true
        approver:
          type:
            - object
            - 'null'
          description: This value will be null if the request has not been approved.
          properties:
            id:
              type: string
              description: The ID of the employee who approved the time off request.
              readOnly: true
            full_name:
              type: string
              description: The full name of the employee who approved the time off request.
              readOnly: true
          readOnly: true
    Current-User:
      description: ''
      type: object
      x-examples:
        Example:
          id: 1409720965546346
          email: torrance.considine1409720965546346@schuster.info
          roles:
            payroll_admin:
              companies:
                - id: 1409720965614302
                  name: Crist-Balistreri Group
                  trade_name: Wyman and Sons LLC
                  locations:
                    - id: 1409721224078163
                      street_1: 63932 Jalyn Springs
                      street_2: Apt. 445
                      city: Cannon Beach
                      state: OR
                      zip: '97110'
                      country: USA
                      active: true
                    - id: 1409721315748742
                      street_1: 1152 River Villages
                      street_2: Apt. 563
                      city: Cannon Beach
                      state: OR
                      zip: '97110'
                      country: USA
                      active: true
      properties:
        id:
          type: number
          description: The ID of the current user.
          readOnly: true
        email:
          type: string
          description: The email address of the authenticated user.
          readOnly: true
        roles:
          type: object
          description: An object containing each of the user's permissions.
          properties:
            payroll_admin:
              type: object
              properties:
                companies:
                  type: array
                  uniqueItems: true
                  description: A lists of companies for which the current user has admin permissions. Users (most notably accountants) can have priviliges with multiple companies.
                  items:
                    type: object
                    properties:
                      id:
                        type: number
                        description: The ID of the company.
                        readOnly: true
                      name:
                        type: string
                        description: The name of the company.
                        readOnly: true
                      trade_name:
                        type: string
                        description: The trade name of the company.
                        readOnly: true
                      locations:
                        type: array
                        uniqueItems: true
                        description: A list of the company locations.
                        items:
                          $ref: '#/components/schemas/Location'
                        readOnly: true
                    readOnly: true
                  readOnly: true
              readOnly: true
          readOnly: true
    Pay-Schedule:
      type: object
      title: Pay Schedule
      example:
        id: 1
        frequency: Twice per month
        anchor_pay_date: '2018-09-01'
        day_1: 1
        day_2: 15
        name: Salaried
      x-examples:
        Example:
          id: 1
          frequency: Twice per month
          anchor_pay_date: '2020-05-15'
          day_1: 15
          day_2: 31
          name: Engineering
      description: The representation of a pay schedule.
      properties:
        id:
          type: integer
          description: The identifier of the pay schedule.
          readOnly: true
        frequency:
          type: string
          enum:
            - Twice per week
            - Monthly
            - Every other week
            - Every week
          readOnly: true
        anchor_pay_date:
          type: string
          description: The first date that employees on this pay schedule are paid with Gusto.
          readOnly: true
        day_1:
          type:
            - integer
            - 'null'
          description: An integer between 1 and 31 indicating the first day of the month that employees are paid. This field is only relevant for pay schedules with the “Twice per month” and “Monthly” frequencies. It will be null for pay schedules with other frequencies.
          readOnly: true
        day_2:
          type:
            - integer
            - 'null'
          description: An integer between 1 and 31 indicating the second day of the month that employees are paid. This field is the second pay date for pay schedules with the “Twice per month” frequency. It will be null for pay schedules with other frequencies.
          readOnly: true
        name:
          type:
            - string
            - 'null'
          description: Hourly when the pay schedule is for hourly employees. Salaried when the pay schedule is for salaried employees. It will be null when the pay schedule is for all employees.
          readOnly: true
  securitySchemes:
    Authorization:
      type: http
      scheme: bearer
      description: The access token
  responses:
    Employee-Object:
      description: Example response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Employee'
          examples:
            Example:
              value:
                id: 7757869432666662
                first_name: Isom
                middle_initial: null
                last_name: Jaskolski
                email: dane7757869450111550@botsford.net
                company_id: 7756341740978008
                manager_id: 7757869432666665
                version: 1c7ba9d62c8bafbfff998ffccad5d296
                department: null
                terminated: false
                two_percent_shareholder: false
                onboarded: true
                jobs:
                  - id: 7757869441038001
                    version: 6c0ed1521e8b86eb36bd4455a63a2dac
                    employee_id: 7757869432666662
                    current_compensation_id: 7757869444844982
                    payment_unit: Year
                    primary: true
                    title: Client Support Director
                    compensations:
                      - id: 7757869444844982
                        version: 2cd4b18662395eb53bcf80d5b5447f36
                        payment_unit: Year
                        flsa_status: Exempt
                        job_id: 7757869441038001
                        effective_date: '2021-01-20'
                        rate: '70000.00'
                    rate: '70000.00'
                    hire_date: '2020-01-20'
                    location_id: 7757727716657803
                    location:
                      id: 7757727716657803
                      street_1: 412 Kiera Stravenue
                      street_2: Suite 391
                      city: San Francisco
                      state: CA
                      zip: '94107'
                      country: USA
                      inactive: false
                eligible_paid_time_off:
                  - name: Sick Hours
                    accrual_unit: Hour
                    accrual_rate: '208.0'
                    accrual_period: Year
                    accrual_balance: '31.8'
                    maximum_accrual_balance: '240.0'
                    paid_at_termination: false
                  - name: Vacation Hours
                    accrual_unit: Hour
                    accrual_rate: '208.0'
                    accrual_period: Year
                    accrual_balance: '77.8'
                    maximum_accrual_balance: '240.0'
                    paid_at_termination: true
                terminations: []
                home_address:
                  version: bfc6ed1d49aa9677265232c470fdbc3e
                  employee_id: 7757869432666662
                  street_1: 73243 Wuckert Prairie
                  street_2: Suite 189
                  city: San Francisco
                  state: CA
                  zip: '94107'
                  country: USA
                  active: true
                garnishments: []
                date_of_birth: '1986-06-25'
                ssn: ''
                phone: '1234567890'
                preferred_first_name: Angel
                work_email: null
    Employee-List:
      description: Example response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Employee'
          examples:
            Example:
              value:
                - id: 7757869432666660
                  first_name: Nicole
                  middle_initial: M
                  last_name: Boehm
                  email: kory7757869450111548@barton-hermiston.io
                  company_id: 7756341740978008
                  manager_id: 7757869432666662
                  version: 414dedaca594b77135e0b8d2f398516d
                  department: null
                  terminated: false
                  two_percent_shareholder: false
                  onboarded: true
                  jobs:
                    - id: 7757869441037999
                      version: 91179081a7309c9fbd31bb3cf7b9893e
                      employee_id: 7757869432666660
                      current_compensation_id: 7757869444844980
                      payment_unit: Hour
                      primary: true
                      title: Client Support Manager
                      compensations:
                        - id: 7757869444844980
                          version: 233f0096a8015e62d9795fadf1fd300d
                          payment_unit: Hour
                          flsa_status: Nonexempt
                          job_id: 7757869441037999
                          effective_date: '2021-01-20'
                          rate: '22.00'
                      rate: '22.00'
                      hire_date: '2020-01-20'
                      location_id: 7757727716657803
                      location:
                        id: 7757727716657803
                        street_1: 412 Kiera Stravenue
                        street_2: Suite 391
                        city: San Francisco
                        state: CA
                        zip: '94107'
                        country: USA
                        inactive: false
                  eligible_paid_time_off:
                    - name: Sick Hours
                      accrual_unit: Hour
                      accrual_rate: '208.0'
                      accrual_period: Year
                      accrual_balance: '71.0'
                      maximum_accrual_balance: '240.0'
                      paid_at_termination: false
                    - name: Vacation Hours
                      accrual_unit: Hour
                      accrual_rate: '208.0'
                      accrual_period: Year
                      accrual_balance: '34.0'
                      maximum_accrual_balance: '240.0'
                      paid_at_termination: true
                  terminations: []
                  home_address:
                    version: 7776defce07496b82f3f1ed469e48ae5
                    employee_id: 7757869432666660
                    street_1: 3772 Reynolds Centers
                    street_2: Suite 461
                    city: San Francisco
                    state: CA
                    zip: '94107'
                    country: USA
                    active: true
                  garnishments: []
                  date_of_birth: '1996-05-08'
                  ssn: ''
                  phone: '1234567890'
[...]
