openapi: 3.0.0
tags:
  - name: Auth
  - name: Company
  - name: Employee
info:
  title: 'Gusto API [not done]'
  version: '1.0'
  termsOfService: 'https://gusto.com/about/terms'
  description: Welcome to Gusto's API documentation.
  contact:
    name: Developer Relations
    email: developer@gusto.com
servers:
  - url: 'https://api.gusto-demo.com'
    description: Demo
  - description: Production
    url: 'https://api.gusto-demo.com'
paths:
  '/v1/employees/{employee_id}':
    get:
      summary: 'Get an employee [not done]'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  id:
                    type: number
                  version:
                    type: string
                    minLength: 1
                  first_name:
                    type: string
                    minLength: 1
                  middle_initial:
                    type: string
                    minLength: 1
                  last_name:
                    type: string
                    minLength: 1
                  company_id:
                    type: number
                  manager_id:
                    type: number
                  department:
                    type: string
                    minLength: 1
                  email:
                    type: string
                    minLength: 1
                  ssn:
                    type: string
                  date_of_birth:
                    type: string
                    minLength: 1
                  jobs:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - id
                        - title
                        - rate
                        - payment_unit
                        - location_id
                      properties:
                        id:
                          type: number
                        title:
                          type: string
                          minLength: 1
                        rate:
                          type: string
                          minLength: 1
                        payment_unit:
                          type: string
                          minLength: 1
                        location_id:
                          type: number
                  home_address:
                    type: object
                    properties:
                      id:
                        type: number
                      version:
                        type: string
                        minLength: 1
                      employee_id:
                        type: number
                      street_1:
                        type: string
                        minLength: 1
                      street_2:
                        type: string
                        minLength: 1
                      city:
                        type: string
                        minLength: 1
                      state:
                        type: string
                        minLength: 1
                      zip:
                        type: string
                        minLength: 1
                      country:
                        type: string
                        minLength: 1
                    required:
                      - id
                      - version
                      - employee_id
                      - street_1
                      - street_2
                      - city
                      - state
                      - zip
                      - country
                  garnishments:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - id
                        - version
                        - employee_id
                        - active
                        - amount
                        - description
                        - court_ordered
                        - times
                        - recurring
                        - pay_period_maximum
                        - deduct_as_percentage
                      properties:
                        id:
                          type: number
                        version:
                          type: string
                          minLength: 1
                        employee_id:
                          type: number
                        active:
                          type: boolean
                        amount:
                          type: string
                          minLength: 1
                        description:
                          type: string
                          minLength: 1
                        court_ordered:
                          type: boolean
                        times:
                          type: number
                        recurring:
                          type: boolean
                        annual_maximum: {}
                        pay_period_maximum:
                          type: string
                          minLength: 1
                        deduct_as_percentage:
                          type: boolean
                  eligible_paid_time_off:
                    type: array
                    items:
                      required: []
                      properties: {}
                  onboarded:
                    type: boolean
                  terminated:
                    type: boolean
                  terminations:
                    type: array
                    items:
                      required: []
                      properties: {}
                  phone:
                    type: string
                    minLength: 1
                  preferred_first_name:
                    type: string
                    minLength: 1
                  work_email:
                    type: string
                    minLength: 1
                required:
                  - id
                  - version
                  - first_name
                  - middle_initial
                  - last_name
                  - company_id
                  - manager_id
                  - department
                  - email
                  - ssn
                  - date_of_birth
                  - jobs
                  - home_address
                  - garnishments
                  - eligible_paid_time_off
                  - onboarded
                  - terminated
                  - terminations
                  - phone
                  - preferred_first_name
                  - work_email
              examples:
                Employee:
                  value:
                    id: 1123581321345589
                    version: db0edd04aaac4506f7edab03ac855d56
                    first_name: Soren
                    middle_initial: A
                    last_name: Kierkegaard
                    company_id: 7757616923531095
                    manager_id: 7757869431804236
                    department: Marketing
                    email: knight0faith@example.com
                    ssn: ''
                    date_of_birth: '1990-05-05'
                    jobs:
                      - id: 1
                        title: Underwater Basket Weaver
                        rate: '80000.00'
                        payment_unit: Year
                        location_id: 3141592653589793
                    home_address:
                      id: 1402342024000
                      version: fe75bd065ff48b91c35fe8ff842f986c
                      employee_id: 1123581321345589
                      street_1: 425 2nd Street
                      street_2: Suite 602
                      city: San Francisco
                      state: CA
                      zip: '94107'
                      country: USA
                    garnishments:
                      - id: 1363316538400333
                        version: 52b7c567242cb7452e89ba2bc02cb476
                        employee_id: 8964216891236743
                        active: true
                        amount: '8.00'
                        description: Company loan to employee
                        court_ordered: false
                        times: 5
                        recurring: false
                        annual_maximum: null
                        pay_period_maximum: '100.00'
                        deduct_as_percentage: true
                    eligible_paid_time_off: []
                    onboarded: true
                    terminated: false
                    terminations: []
                    phone: '2345678901'
                    preferred_first_name: Alex
                    work_email: knight0faith@initech.biz
                Employee with multiple jobs:
                  value:
                    id: 0
                    version: string
                    first_name: string
                    middle_initial: string
                    last_name: string
                    company_id: 0
                    manager_id: 0
                    department: string
                    email: string
                    ssn: string
                    date_of_birth: string
                    jobs:
                      - id: 0
                        title: string
                        rate: string
                        payment_unit: string
                        location_id: 0
                    home_address:
                      id: 0
                      version: string
                      employee_id: 0
                      street_1: string
                      street_2: string
                      city: string
                      state: string
                      zip: string
                      country: string
                    garnishments:
                      - id: 0
                        version: string
                        employee_id: 0
                        active: true
                        amount: string
                        description: string
                        court_ordered: true
                        times: 0
                        recurring: true
                        annual_maximum: null
                        pay_period_maximum: string
                        deduct_as_percentage: true
                    eligible_paid_time_off:
                      - {}
                    onboarded: true
                    terminated: true
                    terminations:
                      - {}
                    phone: string
                    preferred_first_name: string
                    work_email: string
      operationId: get-v1-employees
      tags:
        - Employee
    post:
      summary: 'Create an employee [not done]'
      tags:
        - Employee
      operationId: post-v1-employees
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              properties:
                first_name:
                  type: string
                  minLength: 1
                last_name:
                  type: string
                  minLength: 1
                email:
                  type: string
                  minLength: 1
              required:
                - first_name
                - last_name
                - email
    put:
      summary: 'Update an employee [not done]'
      tags:
        - Employee
      responses: {}
      operationId: put-v1-employees
    parameters:
      - schema:
          type: string
        name: employee_id
        in: path
        required: true
        description: The ID of the employee
  '/v1/companies/{company_id}':
    get:
      summary: Get a company
      operationId: get-v1-companies
      description: Retrieve information about a particular company.
      tags:
        - Company
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: The access token
          required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                properties:
                  ein:
                    type: string
                    description: The Federal Employer Identification Number of the company.
                    readOnly: true
                  entity_type:
                    type: string
                    description: The tax payer type of the company.
                    enum:
                      - C-Corporation
                      - S-Corporation
                      - Sole proprietor
                      - LLC
                      - LLP
                      - Limited partnership
                      - Co-ownership
                      - Association
                      - Trusteeship
                      - General partnership
                      - Joint venture
                      - Non-Profit
                    readOnly: true
                  is_suspended:
                    type: boolean
                    description: Whether or not the company is suspended in Gusto. Suspended companies may not run payroll.
                  company_status:
                    type: string
                    description: 'The status of the company in Gusto. "Approved" companies may run payroll with Gusto. "Not Approved" companies may not yet run payroll with Gusto. In order to run payroll, the company may need to complete onboarding or contact support. "Suspended" companies may not run payroll with Gusto. In order to unsuspend their account, the company must contact support.'
                    enum:
                      - Approved
                      - Not Approved
                      - Suspended
                    readOnly: true
                  id:
                    type: number
                    description: The unique identifier of the company in Gusto.
                    readOnly: true
                  name:
                    type: string
                    description: The name of the company.
                    readOnly: true
                  trade_name:
                    type: string
                    description: The trade name of the company.
                    readOnly: true
                  locations:
                    type: array
                    uniqueItems: false
                    description: The locations of the company.
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          description: The unique identifier of the location in Gusto.
                          readOnly: true
                        street_1:
                          type: string
                          description: ''
                          readOnly: true
                        street_2:
                          type: string
                          description: ''
                          readOnly: true
                        city:
                          type: string
                          readOnly: true
                        state:
                          type: string
                          readOnly: true
                        zip:
                          type: string
                          readOnly: true
                        country:
                          type: string
                          readOnly: true
                        active:
                          type: boolean
                          description: Whether or not the location is active.
                      readOnly: true
                    readOnly: true
                  compensations:
                    type: object
                    description: The available company-wide compensation rates for the company.
                    properties:
                      hourly:
                        type: array
                        uniqueItems: true
                        description: The available hourly compensation rates for the company.
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the hourly compensation rate.
                              example: Overtime
                              readOnly: true
                            multiple:
                              type: number
                              description: The amount multiplied by the base rate of a job to calculate compensation.
                              example: 1.5
                              readOnly: true
                          readOnly: true
                        readOnly: true
                      fixed:
                        type: array
                        uniqueItems: true
                        description: The available fixed compensation rates for the company.
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              description: The name of the fixed compensation.
                              example: Bonus
                          readOnly: true
                        readOnly: true
                      paid_time_off:
                        type: array
                        uniqueItems: true
                        description: The available types of paid time off for the company.
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              example: Vacation Hours
                              description: The name of the paid time off type.
                              readOnly: true
                          readOnly: true
                        readOnly: true
                    readOnly: true
                  primary_signatory:
                    type: object
                    description: The primary signatory of the company.
                    properties:
                      first_name:
                        type: string
                        readOnly: true
                      middle_initial:
                        type: string
                        readOnly: true
                      last_name:
                        type: string
                        readOnly: true
                      phone:
                        type: string
                        readOnly: true
                      email:
                        type: string
                        readOnly: true
                      home_address:
                        type: object
                        properties:
                          street_1:
                            type: string
                            readOnly: true
                          street_2:
                            type: string
                            readOnly: true
                          city:
                            type: string
                            readOnly: true
                          state:
                            type: string
                            readOnly: true
                          zip:
                            type: string
                            readOnly: true
                          country:
                            type: string
                            readOnly: true
                        readOnly: true
                    readOnly: true
                  primary_payroll_admin:
                    type: object
                    description: The primary payroll admin of the company.
                    properties:
                      first_name:
                        type: string
                        readOnly: true
                      last_name:
                        type: string
                        readOnly: true
                      phone:
                        type: string
                        readOnly: true
                      email:
                        type: string
                        readOnly: true
                    readOnly: true
              examples:
                Example:
                  value:
                    ein: 00-0000001
                    entity_type: C-Corporation
                    is_suspended: false
                    company_status: Approved
                    id: 7756341740978008
                    name: Shoppe Studios LLC
                    trade_name: Record Shoppe
                    locations:
                      - id: 7757727716657803
                        street_1: 412 Kiera Stravenue
                        street_2: Suite 391
                        city: San Francisco
                        state: CA
                        zip: '94107'
                        country: USA
                        active: true
                      - id: 7757727716657804
                        street_1: 644 Fay Vista
                        street_2: Suite 842
                        city: Richmond
                        state: VA
                        zip: '23218'
                        country: USA
                        active: true
                    compensations:
                      hourly:
                        - name: Overtime
                          multiple: 1.5
                        - name: Double overtime
                          multiple: 2
                        - name: Regular
                          multiple: 1
                        - name: Vacation
                          multiple: 1
                        - name: Outstanding vacation
                          multiple: 1
                        - name: Sick
                          multiple: 1
                        - name: Holiday
                          multiple: 1
                        - name: Emergency sick - self care
                          multiple: 1
                        - name: Emergency sick - caring for others
                          multiple: 1
                        - name: FMLA Public Health Emergency Leave
                          multiple: 1
                        - name: Regular Hours
                          multiple: 1
                      fixed:
                        - name: Bonus
                        - name: Commission
                        - name: Paycheck Tips
                        - name: Cash Tips
                        - name: Correction Payment
                        - name: Severance
                        - name: Minimum Wage Adjustment
                        - name: Reimbursement
                      paid_time_off:
                        - name: Vacation Hours
                        - name: Sick Hours
                        - name: Holiday Hours
                    primary_signatory:
                      first_name: Alda
                      middle_initial: ''
                      last_name: Carter
                      phone: 1-565-710-7558
                      email: louie.hessel7757869450111547@zemlak.biz
                      home_address:
                        street_1: 524 Roob Divide
                        street_2: Suite 565
                        city: San Francisco
                        state: CA
                        zip: '94107'
                        country: USA
                    primary_payroll_admin:
                      first_name: Ian
                      last_name: Labadie
                      phone: 1-565-710-7559
                      email: louie.hessel7757869450111547@zemlak.biz
    parameters:
      - schema:
          type: string
        name: company_id
        in: path
        description: The ID of the company
        required: true
  /oauth/token:
    post:
      summary: 'Manage tokens [not done]'
      responses: {}
      operationId: post-oauth-token
      tags:
        - Auth
components:
  schemas: {}
  securitySchemes: {}
