swagger: '2.0'
info:
  title: Gusto API Documentation
  version: '1.0'
  description: >-

    ## A Developer's Best Friend

    Welcome to Gusto's API documentation. This site serves as both a technical reference for the endpoints available and a general overview of payroll. We designed the objects and their properties to require as little domain-specific payroll knowledge as possible.

    ### Getting Started

    Gusto has a closed API system and a full near-term roadmap.  We do occasionally support new integrations for products that could potentially benefit many or all of our small businesses.  If you'd like to be considered for a future integration partnership, please email partnerships@gusto.com.


    Existing partners have been given API credentials. These include the application id and secret necessary to interact with any part of the Gusto API. Next, you'll want to successfully authenticate a user using OAuth. The Authentication section has everything you need to get started.

    ### Payroll Basics

    Payroll in its entirety is rather complex, but the API is designed to shield as much complexity as possible from the end user, without sacrificing functionality. This section gives a birds-eye view of the objects that make up the Gusto system.


    Starting with an authenticated user, you will notice that they may be administrators for multiple companies. This is not uncommon, and your application should prepare for it. Accountants use Gusto to manage payroll for many companies simultaneously.


    <img src="/images/authenticated-user-company.svg">


    Companies themselves are, naturally, a collection of one to hundreds of employees. Employee data, on the payroll side, is relatively static. Compensation information, addresses, and tax information changes rather infrequently once set.


    Companies can have multiple work locations, across multiple states, but everyone gets paid at the same time.


    <img src="/images/company-to-employees.svg" class="img-fluid">


    Pay periods are the combination of a company, a subset of its employees, and a time range. Not every employee at a company will be a part of every payroll. One-off (or'off-cycle') payrolls are run for special events such as hiring or termination, and employees can be excluded from payrolls.


    Regular payrolls are tied to a specific pay periods, and all associated information - vacation & sick time, hours worked, bonuses, etc. - should be applied to that time range.


    <img src="/images/pay-periods.svg" class="margin-top-50px margin-bottom-50px img-fluid">


    By using the Gusto API, you are agreeing to the following [terms and conditions](https://gusto.com/about/terms).

host: 'api.gusto.com'
schemes:
  - https
basePath: /v1
x-tagGroups:
  - name: Introduction
    tags:
      - Authentication
      - Versioning
      - Syncing Employees
  - name: Examples
    tags:
      - Updating Payrolls
  - name: API Reference
    tags:
      - Companies
      - Employees
      - Jobs
      - Time Off Requests
      - States

tags:
  - name: Authentication
    x-traitTag: true
    description: >-
      Authentication info goes here
  - name: Versioning
    x-traitTag: true
    description: >-
      ## Building for the Future

      Versions are essentially snapshots of a given resource. If things change, we want you to find out immediately. We'd rather an extra HTTP request or 2 than employees receiving incorrect pay.

      ### API Layer

      The Gusto API itself is versioned directly in the url - `/:version_string` - to allow for backwards compatibility. We guarantee that an application built with v1 of the API will always work, without changes, as long as that API version is supported. If we would like to implement breaking changes into the API, like changing request or response signatures, we will create a separate version of the API for new applications while supporting existing applications using our previous version.


      In essence, this means changes will only be additive. A given version of the API will always provide as much or more information than when you first implement the integration.

      ### Object Layer

      #### Idempotency

      Requests are [idempotent](http://en.wikipedia.org/wiki/Idempotence#Computer_science_meaning) such that 50 identical requests will only update the data once. This applies both to retrieving information (via GET requests) as well as updating information in the Gusto ecosystem (via POST requests.)


      In practice, this allows you to try identical requests multiple times without fear that data will be altered multiple times. This also means that any updates will overwrite the existing data, instead of allowing additive or incremental changes.


      Idempotency is wonderful for ensuring request safety, but in order for updates to be idempotent, they must overwrite the existing data. But what if the data in Gusto has changed since you last requested it? Can you end up overwriting changes made by the other applications or the user?

      #### Example

      For example, let's say you wish to give Frank (with id 7) a $200 bonus for the current pay period. Unbeknownst to you, another application has already given Frank a $150 bonus. You make a request to the 'Update Payroll' endpoint with a bonus of "200.00".


      Your request overwrites any bonus ($150) already in our system for employee 7 for the Feb 1 - 15 pay period.


      Frank is now scheduled to receive a bonus of $200, which is $150 less than the combined value of the individual bonuses. While this may be good news for Accounting, it is obviously unacceptable.


      This is why versioning extends to the object level. Objects returned from the Gusto API include a `version` field that denotes which version of the object you hold. This version is calculated based on all updatable attributes of this and child objects.


      When updating an object, you must include this `version` field because it tells us how recently you have pulled information. If the data has changed since the last time you made a request, we will respond with the HTTP status code 409 Conflict. The client should request an updated version of the resource - which will include an updated `version` - and make a request with the updated information.


      **Note**: Since versions are only updated when attributes that are updatable change (as opposed to any data returned by the API), they should not be relied on to monitor any change in the Gusto database. Their design is centered around preventing race conditions and overwriting data that the request couldn't have known has changed.

  - name: Syncing Employees
    x-traitTag: true
    description: >-
      ## Are We Talking About The Same People?

      You have successfully <a href="/v1/examples/authentication">integrated with OAuth</a>, gotten back the authenticated
      companies for the <a href="/v1/current_user">current user</a>, and fetched the
      <a href="/v1/companies">company information</a>.


      Now you have the JSON representation of 20 employees and need to map them to the employees in your database.


      Naturally, the approach you'll choose will depend on the information you have available. Here are some suggestions for
      matching up the employees in your database with the ones in ours. We recommend persisting the unique `id` attribute
      that is returned by the Api, rather than redoing the match at the beginning of a pay period.

      ### Email Addresses

      We provided email addresses with employee information specifically for matching employees between systems. For just
      under 75% companies on Gusto, every single employee has an email address available.


      This assumes that employees provide the same email address to both systems, but for work applications this is by far
      the norm.

      ### Date of Birth

      Almost 98% of employees in the Gusto system have birthdays associated with them. Of those that do, ~81% have a
      unique birthday (comprised of year, month, and day).


      Be careful when only comparing month and day, as it takes
      [only 57 people](http://en.wikipedia.org/wiki/Birthday_problem) to achieve a 99% probability of collision.

      ### Full Name

      First and last name are required for employees in the Gusto system. Additionally, ~55% provide middle initials.
      If you can find an exact match based on full-name, then you're finished.


      Typos do happen, in which case checking the [Hamming Distance](http://en.wikipedia.org/wiki/Hamming_distance) can be
      helpful. If you have one unmatched set of employees with a Hamming Distance of 1, for example, it is pretty likely that
      they are the same person.

  - name: Updating Payrolls
    x-traitTag: true
    description: >-
      updating payroll example

paths:

  /companies/{company_id}/employees:
    $ref: 'employees/list.yaml'

  /companies/{company_id}/locations:
    $ref: 'company_locations/list.yaml'

  /companies/{company_id}/time_off_requests:
    $ref: 'time_off_requests/list.yaml'

  /companies/{company_id}/time_off_requests/{time_off_request_id}:
    $ref: 'time_off_requests/detail.yaml'

  /employees/{employee_id}:
    $ref: 'employees/detail.yaml'

  /employees/{employee_id}/home_address:
    $ref: 'employee_home_address/detail.yaml'

  /employees/{employee_id}/jobs:
    $ref: 'jobs/list.yaml'

  /jobs/{job_id}:
    $ref: 'jobs/detail.yaml'

  /states:
    $ref: 'states/detail.yaml'
